* {
    box-sizing: border-box;
    letter-spacing: 1px;
    color: #7e1919cf;
    font-weight: 200;
    margin: 15px auto 0;
    text-transform: uppercase;
    letter-spacing: 6px;
    font-family: fantasy;
    text-align: center;
}

h2 {
    box-sizing: border-box;
    color: #420707cf;
    margin: 1px auto;
    font-size: 2.8rem;
    text-transform: uppercase;
    letter-spacing: 10px;
    font-family: fantasy;
    text-align: center;
    
}

button {
    appearance: auto;
    writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: buttontext;
    letter-spacing: normal;
    word-spacing: normal;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    box-sizing: border-box;
    background-color: buttonface;
    margin: 1em;
    padding: 9px 17px;
    border-radius: 8px;
    border-width: 0px;
    border-style: outset;
    border-color: buttonborder;
    border-image: initial;
    background-color: #c9763bad;
}
button:hover {
  box-shadow: 0 9px 17px 0 rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0,0,0,0.20);
  padding: 15px 60px;
  background-color: #8f3b0029;
}
